[mcu toolhead]
canbus_uuid: 16204041f80e

## Fly-SB2040-V2 BOARD PINS
[board_pins toolhead]
mcu: toolhead
aliases:
aliases_2209:
    E_ENABLE=gpio7,E_STEP=gpio9,E_DIR=gpio10,E_TMCUART=gpio8
aliases_endstop:
    LIMIT_0=gpio25,LIMIT_1=gpio28,LIMIT_2=gpio29
aliases_cnc_fans:
    FAN0=gpio13,FAN1=gpio14,FAN2=gpio15
aliases_thermistors:
    TH0=gpio27,TH1=gpio26
aliases_heaters:
    HE0=gpio6
aliases_rgb:
    RGBLED=gpio12
aliases_adxl:
    ADXL=gpio1
aliases_pt100:
    PT100=gpio22

[temperature_sensor toolhead_mcu]
sensor_type: temperature_mcu
sensor_mcu: toolhead

[temperature_sensor toolhead]
sensor_type: Generic 3950
sensor_pin: toolhead:TH1

[heater_fan hotend_fan]
pin: toolhead:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: toolhead:FAN0
kick_start_time: 0.5
cycle_time: 0.15
off_below: 0.10

[adxl345]
cs_pin: toolhead:ADXL
spi_software_sclk_pin: toolhead:gpio0
spi_software_mosi_pin: toolhead:gpio3
spi_software_miso_pin: toolhead:gpio2

[resonance_tester]
accel_chip: adxl345
probe_points:
    125,125,20

[extruder]
step_pin: toolhead:E_STEP
dir_pin: toolhead:E_DIR
enable_pin: !toolhead:E_ENABLE
rotation_distance: 23.2256916245
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: toolhead:HE0
sensor_pin: toolhead:TH0
sensor_type: Generic 3950
min_temp: 10
max_temp: 285
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 200.0
max_extrude_cross_section: 50.0
control = pid
pid_kp = 22.281
pid_ki = 1.024
pid_kd = 121.152
pressure_advance: 0.00

# Moved to mmu_hardware.cfg
[tmc2209 extruder]
uart_pin: toolhead:E_TMCUART
interpolate: true
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
