###########################################################################
# Optional Happy Hare supporting macros
#
# These are simple, but working, example PAUSE / RESUME / CANCEL_PRINT macros
# that use the parking logic defined in 'mmu_sequence.cfg'
#
# You can also use your existing set
#
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
description: Cancel print
gcode:
    TURN_OFF_HEATERS
    ;SDCARD_RESET_FILE
    DOCK_PROBE_UNLOCK
    PARK_PURGE
    _MMU_CLEAR_POSITION
    CLEAR_PAUSE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
description: Pause the print and park
gcode:
    {% if printer.pause_resume.is_paused %}
        RESPOND MSG="Print is already paused"
    {% else %}
        SAVE_GCODE_STATE NAME=PAUSE_state
        {% if printer.extruder.can_extrude %}
            G92 E0
            G1 E-1.0 F3000	# Retract a little to reduce ooze
        {% endif %}
        BASE_PAUSE
        DOCK_PROBE_UNLOCK
        PARK_PURGE
        SAVE_GCODE_STATE NAME=PAUSE_state_parked
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
description: Resume the print
gcode:
    {% if not printer.pause_resume.is_paused %}
        RESPOND MSG="Print is not paused. Resume ignored"
    {% else %}
      # Wipe if possible
      _WIPE_IF_SAFE

      # Return to parked lifted position first, to avoid crashing, in case toolhead was moved while paused
      RESTORE_GCODE_STATE NAME=PAUSE_state_parked MOVE=1 MOVE_SPEED={printer.toolhead.max_velocity}
      RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 MOVE_SPEED={printer.toolhead.max_velocity}
        BASE_RESUME
    {% endif %}
