###########################################################################
# Happy Hare MMU hardware pin config
#
# This contains aliases for pins for MCU EasyBRD 1.1
#
[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_samd21g18a_418D707B3359535120202036212907FF-if00

# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment out this aliases definition and configure the pin names directly
# into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu
aliases:
    MMU_GEAR_UART=PA8,
    MMU_GEAR_STEP=PA4,
    MMU_GEAR_DIR=PA10,
    MMU_GEAR_ENABLE=PA2,
    MMU_GEAR_DIAG=,
