[gcode_macro UNLOAD_FILAMENT]
gcode:
  {% set extruder = printer.extruder.target %}
  {% if printer.mmu and printer.mmu.enabled %}
    MMU_EJECT
  {% else %}
    PURGE
    CUT_TIP
    G1 E-75 F1200
    G92 E0
    M118 Filament Unloaded
  {% endif %}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder}

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  50
variable_purge_distance:  25
gcode:
    # Turn on lights and filter fan
    UPDATE_DELAYED_GCODE ID=exhaust_fan_off DURATION={15 * 60}
    UPDATE_DELAYED_GCODE ID=filter_fan_off DURATION={15 * 60}
    UPDATE_DELAYED_GCODE ID=caselight_off DURATION={15 * 60}
    SET_PIN PIN=caselight VALUE=1
    SET_FAN_SPEED FAN=filter_fan SPEED=1

    {% if printer.mmu and printer.mmu.enabled %}
        MMU_LOAD
    {% else %}
      SAVE_GCODE_STATE NAME=load_state
      _LOW_TEMP_CHECK WAIT=0
      PARK_PURGE
      _LOW_TEMP_CHECK
      G1 E20 F300
      G1 E50 F1000
      G1 E25 F300
      WIPE PURGE=30 PARKING_DISTANCE=15
      WIPE COUNT=4
      M118 Filament Loaded
      RESTORE_GCODE_STATE NAME=load_state
    {% endif %}
