[gcode_macro PRINT_END]
variable_nozzle_to_toolhead_front: 45
gcode:
  {% set eject = params.EJECT|default(0)|int %}
  {% set print_max_y = params.PRINT_MAX_Y|default(-1)|float %}
  {% set nozzle_to_toolhead_front = printer['gcode_macro PRINT_END']['nozzle_to_toolhead_front']|float %}

  M400 ; wait for buffer to clear

  ; safe anti-stringing move coords
  {% set th = printer.toolhead %}
  {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

  G90                                      ; absolute positioning
  G0 Z{z_safe} F10000

  ; wipe during eject if possible
  {% if print_max_y > 0 and print_max_y < (th.axis_maximum.y - nozzle_to_toolhead_front) %}
    ; wipe position
    _WIPE_NOZZLE_POSITION
  {% else %}
    ; move to final position
    G90
    G0 X{th.axis_maximum.x - 5} Y{th.axis_maximum.y - 2} F50000
  {% endif %}

  ; turn off fan
  M107

  ; eject
  {% if eject > 0 %}
    MMU_EJECT
  {% else %}
    _MMU_FORM_TIP_STANDALONE FINAL_EJECT=0
    _WIPE_NOZZLE_IF_IN_POSITION
  {% endif %}

  ; turn of heaters
  TURN_OFF_HEATERS

  ; move to final position
  G90
  G0 X{th.axis_maximum.x - 5} Y{th.axis_maximum.y - 2} F50000

  ; done
  BED_MESH_CLEAR
  STATUS_READY

  ; start auto-off timers
  UPDATE_DELAYED_GCODE ID=exhaust_fan_off DURATION={15 * 60}
  UPDATE_DELAYED_GCODE ID=caselight_off DURATION={15 * 60}
