[gcode_macro WIPE_NOZZLE]
variable_purge_x: 138
variable_start_x: 128
variable_end_x: 70
variable_z: 0.2
variable_standalone_retract: 10 ; to be used by other macros
gcode:
    {% set standalone = params.STANDALONE|default(0)|int %}
    {% set purge = params.PURGE|default(2)|float %}

    {% set y = printer.toolhead.axis_maximum.y %}
    {% set purge_x = printer['gcode_macro WIPE_NOZZLE']['purge_x'] %}
    {% set start_x = printer['gcode_macro WIPE_NOZZLE']['start_x'] %}
    {% set end_x = printer['gcode_macro WIPE_NOZZLE']['end_x'] %}
    {% set z = printer['gcode_macro WIPE_NOZZLE']['z'] %}
    {% set current_z = printer.toolhead.position.z %}

    STATUS_CLEANING
    M118 Wiping nozzle

    ; Move to position
    _WIPE_NOZZLE_START

    ; Heat up if needed
    _LOW_TEMP_CHECK

    ; Enable fan to blow away scraps
    M106 S255

    ; Form tip
    {% if standalone > 0 %}
    G91
    G1 E{purge} F300
    FORM_TIP RETRACT=5
    G1 E10 F300
    {% endif %}

    ; Wipe sequence
    G90
    G0 F10000
    G0 X{end_x}
    G0 X{start_x}
    G0 Y{y-0.4}
    G0 X{end_x}
    G0 X{start_x}
    G0 Y{y}
    G0 X{end_x}
    G0 X{start_x}

    ; Lift
    G0 X{purge_x} Z{ [current_z, 5] | max }

    ; Disable fan
    M106 S0

    {% if printer.idle_timeout.state != "Printing" %}
    STATUS_READY
    {% endif %}

[gcode_macro WIPE_NOZZLE_STANDALONE]
gcode:
    WIPE_NOZZLE STANDALONE=1 PURGE={params.PURGE|default(2)}

[gcode_macro _WIPE_NOZZLE_START]
gcode:
    {% set start_y = printer.toolhead.axis_maximum.y %}
    {% set purge_x = printer['gcode_macro WIPE_NOZZLE']['purge_x'] %}
    {% set z = printer['gcode_macro WIPE_NOZZLE']['z'] %}
    {% set current_x = printer.toolhead.position.x %}
    {% set current_y = printer.toolhead.position.y %}

    {% if current_x != purge_x or current_y != start_y %}
    ; Lift
    G91
    G0 Z5 F6000
    ; Move to position
    G90
    G0 X{purge_x} Y{start_y} F20000
    {% endif %}

    ; Lower nozzle
    G90
    G0 Z{z} F6000

[gcode_macro _WIPE_NOZZLE_IF_IN_POSITION]
gcode:
    {% set start_y = printer.toolhead.axis_maximum.y %}
    {% set purge_x = printer['gcode_macro WIPE_NOZZLE']['purge_x'] %}
    {% set current_x = printer.toolhead.position.x %}
    {% set current_y = printer.toolhead.position.y %}

    {% if current_x == purge_x or current_y == start_y %}
    WIPE_NOZZLE {rawparams}
    {% endif %}
